--commas inline
--trimwhitespace nonblank-lines
--wraparguments preserve
--wrapcollections preserve
--stripunusedargs closure-only
--disable strongOutlets, redundantInit, unusedArguments, redundantParens, hoistPatternLet
--exclude Pods, **/Assets.swift, **/Storyboards.swift, **/Storyboard.swift, **/Strings.swift, **/Fonts.swift, **/Generated
